.containerSlide {
    width: 1290px;
    margin: auto;
    padding-top: 200px;
}

.first-card{
    position: relative;
    padding-top: 30px;
    padding-right: -10px;
    float: left;
    left: 30px;
    height: 450px;
}

.second-card{
    position: relative;
    padding-top: 30px;
    float: left;
    left: 45px;
}

.third-card{
    position: relative;
    padding-top: 30px;
    float: left;
    left: 60px;
    right: 60px;
}